.about-us {
    display: flex;
    align-items: flex-end;
    padding-top: 116px;
    padding-bottom: 112px;
    min-height: 740px;
    background: url(../img/hero.jpg) top center/cover no-repeat;
    box-sizing: border-box;

    &__heading {
        max-width: 550px;
        margin: 0;
    }
    &__text {
        max-width: 750px;
        margin: 30px 0;
    }
}