.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color $default-transition-duration;
    z-index: 99;

    &.is-fixed {
        background-color: #fff;

        .nav {
            padding: 5px;
        }
    }
}
.nav {
    padding: 22px 0;
    transition: padding $default-transition-duration;

    &-list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
        list-style: none;

        &__item {
            
            &:first-child {
                margin-right: auto;
            }
            &:not(:first-child) {
                margin-left: 58px
            }

            &-link {
                color: #717784;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    @at-root {
        .is-fixed & {

            .btn {
                padding: $button-padding-small;
            }
        }
    }
}
.logo {
    display: flex;
    align-items: center;
    color: #505050;
    font-size: 22px;
    text-decoration: none;
    transition: padding $default-transition-duration;

    img {
        width: 72px;
        height: 72px;
        margin-right: 20px;
        transition:
            width $default-transition-duration,
            height $default-transition-duration;

        @at-root {
            .is-fixed & {
                width: 42px;
                height: 42px;
            }
        }
    }
}