.services {
    padding: $section-padding-y 0;
    text-align: center;

    &-wrapper {
        margin-top: 140px;
    }
    &-item {
        max-width: 260px;
        margin: 0 auto;
        padding: 20px 10px;
        box-shadow: none;
        border-bottom: 7px solid transparent;
        box-sizing: border-box;
        border-radius: 5px;
        transition: box-shadow $default-transition-duration, border $default-transition-duration;

        &:hover {
            box-shadow: 0 0 0 1px $primary-color;
            border-bottom-color: $primary-color;

            svg * {
                fill: $primary-color;
            }
        }

        h3 {
            font-size: 22px;
            font-weight: 500;
        }
        p {
            font-size: 16px;
            line-height: 1.3;
        }
    }
}
