.support {
    padding: $section-padding-y 0;

    > .container {

        .col {
            display: flex;
            align-content: center;
            flex-wrap: wrap;

            &:last-child {
                padding-left: 40px;
            }
        }
    }
}