.btn {
  padding: 25px 75px;
  border-radius: 4px;
  font-size: 17.5px;
  color: white;
  text-transform: uppercase;
  border: none;
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.btn-orange {
  background-color: #eb7d4b;
}
.btn-orange:hover {
  background-color: #17c2a4;
}
.btn-topaz {
  background-color: #17c2a4;
}
.btn-topaz:hover {
  background-color: #eb7d4b;
}
.btn-blue {
  background-color: #30bae7;
}
.btn-blue:hover {
  background-color: #eb7d4b;
}
.btn:active {
  position: relative;
  top: 1px;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 79px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.grid .col {
  text-align: center;
  width: 200px;
}
.grid .col .img-wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
.grid .col .img-wrapper .grid-img {
  max-height: 100%;
  max-width: 100%;
}
.grid-title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 27px;
}
.grid-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

@media screen and (max-width: 990px) {
  .grid-description {
    font-size: 20px;
  }
  .grid-title {
    font-size: 22px;
  }
  .grid .col {
    width: 50%;
    margin-bottom: 80px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .grid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .grid .col {
    width: 100%;
  }
  .grid .col:last-child {
    margin-bottom: 0px;
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px;
}

@media screen and (max-width: 990px) {
  .container {
    padding: 70px 30px;
  }
}
.diagram {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: #dfe8ed;
  position: relative;
  overflow: hidden;
}

.diagram::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  background: #ffffff;
  z-index: 3;
  opacity: 1;
}

.diagram .piece {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  position: absolute;
}

.diagram .piece::before {
  content: '';
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;
}

.diagram .piece.left {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  z-index: 2;
  border-radius: 50%;
  /* only FireFox < 75.0v (fix bug)*/
}

.diagram.over_50 .piece.left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.diagram .piece.right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 1;
  border-radius: 50%;
  /* only FireFox < 75.0v (fix bug)*/
}

.diagram.over_50 .piece.right {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.diagram .left::before {
  background: #30bae7;
}

.diagram.over_50 .left::before {
  background: #990;
}

.diagram .right::before {
  background: #30bae7;
}

.diagram .text {
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.diagram .text {
  font-size: 50px;
}

:root {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:hover {
  -webkit-transition: 1s;
  transition: 1s;
}

body {
  min-width: 360px;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.header {
  background-color: #87509c;
  padding-top: 57px;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
.header .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header .nav-list-item {
  margin: 0px 5px;
}
.header .nav-list-item a {
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
}
.header .nav-list-item a:hover, .header .nav-list-item a:active {
  background-color: #643a79;
  border-radius: 2px;
  -webkit-transition: 2s;
  transition: 2s;
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 35px;
  }
  .header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .container .nav {
    margin-top: 30px;
  }
  .header .container .nav-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .container .nav-list-item {
    margin: 10px 5px;
  }
}
.section-about {
  background-color: #e7f1f8;
  color: #3c4761;
}
.section-about .col .img-wrapper {
  margin-bottom: 41px;
  background-color: #878787;
  border-radius: 50%;
}
.section-about .col .grid-title {
  margin-bottom: 15px;
}
.section-about .col .position {
  color: #30bae7;
  font-size: 16px;
  margin-bottom: 26px;
}
.section-about .col .grid-description {
  margin-bottom: 31px;
}
.section-about .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-about .socials a {
  margin: 0 6px;
}
.section-about .socials .icon {
  width: 32px;
  height: 32px;
  fill: #bdd1df;
}
.section-about .socials .icon:hover {
  fill: #3c4761;
  cursor: pointer;
  -webkit-transition: 2s;
  transition: 2s;
}

.section-comments {
  background-color: #d74680;
}
.section-comments .section-header {
  margin-bottom: 71px;
}
.section-comments .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section-comments .comment-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 147px;
}
.section-comments .comment-item .img-wrapper {
  background-color: #878787;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 48px;
}
.section-comments .comment-item .img-wrapper .comment-photo {
  height: 96px;
}
.section-comments .comment-item:nth-last-child(2), .section-comments .comment-item:last-child {
  margin-bottom: 0px;
}
.section-comments .comment-info {
  max-width: 326px;
}
.section-comments .comment-info-text {
  font-size: 21px;
  font-style: italic;
  line-height: 1.44;
  margin-bottom: 28px;
}
.section-comments .comment-info-fio {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 9px;
}
.section-comments .comment-info-position {
  color: #ffdd99;
  font-size: 18px;
}

@media screen and (max-width: 990px) {
  .section-comments .comment-item {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-comments .comment-item:nth-last-child(2) {
    margin-bottom: 147px;
  }
}
@media screen and (max-width: 768px) {
  .section-comments .comment {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-comments .comment-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 80px;
  }
  .section-comments .comment-item:nth-last-child(2) {
    margin-bottom: 80px;
  }
  .section-comments .comment-item .img-wrapper {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .section-comments .comment-item:last-child {
    margin-bottom: 0px;
  }
}
.section-contacts {
  background-color: #3c5499;
}
.section-contacts .section-header {
  margin-bottom: 76px;
  text-align: center;
}
.section-contacts .section-header-text .link {
  color: #ffffff;
  text-decoration: none;
}
.section-contacts .section-header-text .link:hover {
  text-decoration: underline;
}
.section-contacts .form-line {
  margin-bottom: 27px;
}
.section-contacts .form-line:last-child {
  margin-bottom: 0;
}
.section-contacts .form-line:nth-child(2) {
  margin-bottom: 59px;
}
.section-contacts .form-line .textarea-wrapper {
  position: relative;
  width: 100%;
  height: 200px;
}
.section-contacts .form-line .textarea-wrapper .label {
  top: 25px;
}
.section-contacts .form-line .input-wrapper {
  position: relative;
  min-width: calc(50% - 16px);
}
.section-contacts .form-line .label {
  font-size: 18px;
  line-height: 18px;
  position: absolute;
  top: calc(50% - 9px);
  cursor: pointer;
  left: 25px;
  color: #ffffff;
}
.section-contacts .form-line .label .span {
  color: red;
}
.section-contacts .form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-contacts .form-input .input {
  width: 100%;
  min-height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #273a71;
  color: #ffffff;
  font-size: 18px;
  font-family: "Titillium Web", sans-serif;
  padding: 0 25px;
}
.section-contacts .form-input .input:focus + .label, .section-contacts .form-input .textarea:focus + .label {
  display: none;
}
.section-contacts .form-input .input:hover + .label, .section-contacts .form-input .textarea:hover + .label {
  cursor: text;
}
.section-contacts .textarea {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 4px;
  background-color: #273a71;
  padding: 25px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Titillium Web", sans-serif;
  resize: none;
}
.section-contacts .contact-btn-wrapper {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .section-contacts .form-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-contacts .form-input .input {
    max-width: 100%;
  }
  .section-contacts .form-input .input:first-child {
    margin-bottom: 27px;
  }
  .section-contacts .form-line .label {
    top: calc(50% - 25px);
  }
}
.section-home {
  background-color: #87509c;
}
.section-home .container {
  padding-top: 145px;
  padding-bottom: 145px;
}

.slogan {
  margin-bottom: 55px;
}
.slogan .h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-size: 43px;
  text-align: center;
  line-height: 1.15;
  letter-spacing: normal;
}

.work-with-us-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .section-home .container {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .slogan .h1 {
    font-size: 30px;
  }
}
.section-portfolio {
  background-color: #ffdd99;
  color: #3c4761;
  text-align: center;
}
.section-portfolio .section-header {
  margin-bottom: 42px;
}
.section-portfolio .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 62px;
}
.section-portfolio .filter .active a {
  background-color: #ffffff;
}
.section-portfolio .filter-item {
  margin: 10px 5px;
}
.section-portfolio .filter-item a {
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 4px;
  padding: 12px 27px;
  background-color: #ecca86;
  text-decoration: none;
  color: black;
  display: block;
}
.section-portfolio .filter-item a:hover {
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: 2s;
  transition: 2s;
}
.section-portfolio .filter-item a:active {
  background-color: #ffffff;
}
.section-portfolio .filter-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 19px;
}
.section-portfolio .filter-content-item {
  width: 50%;
  padding: 0 20px;
}
.section-portfolio .filter-content-item-img {
  margin-bottom: 32px;
  max-width: 100%;
}
.section-portfolio .filter-content-item-title {
  text-transform: uppercase;
  margin-bottom: 64px;
}

@media screen and (max-width: 768px) {
  .section-portfolio .filter-content {
    margin-bottom: 0;
  }
  .section-portfolio .filter-content-item {
    width: 100%;
  }

  .btn {
    padding: 25px 35px;
  }
}
.section-services {
  background-color: #17c2a4;
}
.section-services .col .img-wrapper {
  height: 124px;
  margin-bottom: 56px;
}

.section-skills {
  background-color: #ffffff;
  color: #3c4761;
  font-size: 50px;
}
.section-skills .diagram {
  margin-bottom: 32px;
  display: inline-block;
}
.section-skills .p90 .piece.left {
  -webkit-transform: rotate(-36deg);
          transform: rotate(-36deg);
}
.section-skills .p75 .piece.left {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.section-skills .p75 .left::before, .section-skills .p75 .right::before {
  background: #d74680;
}
.section-skills .p70 .piece.left {
  -webkit-transform: rotate(-108deg);
          transform: rotate(-108deg);
}
.section-skills .p70 .left::before, .section-skills .p70 .right::before {
  background: #15c7a8;
}
.section-skills .p85 .piece.left {
  -webkit-transform: rotate(-54deg);
          transform: rotate(-54deg);
}
.section-skills .p85 .left::before, .section-skills .p85 .right::before {
  background: #eb7d4b;
}

.section-header {
  text-align: center;
  font-family: "Titillium Web", serif;
  max-width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
.section-header-title {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.section-header-title:after {
  content: '';
  display: block;
  width: 87px;
  height: 4px;
  opacity: 0.15;
  margin: 21px auto 24px;
  background-color: black;
}
.section-header-text {
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0.36px;
}

@media screen and (max-width: 768px) {
  .section-header-title {
    font-size: 35px;
  }
  .section-header-text {
    font-size: 24px;
  }
}
.footer {
  background-color: #344b8e;
}
.footer .container {
  padding: 0 30px;
}
.footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 49px 20px 41px;
}
.footer .footer-menu a {
  font-size: 23px;
  margin: 10px;
  display: block;
  color: #ffffff;
  text-decoration: none;
}
.footer .footer-menu a:hover {
  color: #30bae7;
}

@media screen and (max-width: 768px) {
  .footer .container {
    padding: 49px 30px 41px;
  }
  .footer .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */