h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1; }

h1 {
  font-size: 56px; }

h2 {
  font-size: 48px; }

p {
  margin: 12px 0; }

.sub-title {
  font-size: 26px;
  font-weight: 500; }

.font-serif {
  font-family: "DM Serif Display", serif; }

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box; }

.row {
  display: flex; }

.col {
  flex: auto; }

body {
  margin: 0;
  color: #626780;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background-color: #fff; }

.btn {
  display: inline-block;
  padding: 17px 74px;
  font-family: "Poppins", sans-serif;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: padding 250ms, color 250ms, border-color 250ms, background-color 250ms; }
  .btn:link {
    text-decoration: none; }
  .btn-small {
    padding: 12px 54px; }
  .btn-primary {
    color: #fff;
    font-weight: 600;
    background-color: #9B9BCA; }
    .btn-primary:hover {
      color: #9B9BCA;
      border-color: #9B9BCA;
      background-color: #fff; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 250ms;
  z-index: 99; }
  .header.is-fixed {
    background-color: #fff; }
    .header.is-fixed .nav {
      padding: 5px; }

.nav {
  padding: 22px 0;
  transition: padding 250ms; }
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    list-style: none; }
    .nav-list__item:first-child {
      margin-right: auto; }
    .nav-list__item:not(:first-child) {
      margin-left: 58px; }
    .nav-list__item-link {
      color: #717784;
      text-decoration: none; }
      .nav-list__item-link:hover {
        text-decoration: underline; }
  .is-fixed .nav .btn {
    padding: 12px 54px; }

.logo {
  display: flex;
  align-items: center;
  color: #505050;
  font-size: 22px;
  text-decoration: none;
  transition: padding 250ms; }
  .logo img {
    width: 72px;
    height: 72px;
    margin-right: 20px;
    transition: width 250ms, height 250ms; }
    .is-fixed .logo img {
      width: 42px;
      height: 42px; }

.about-us {
  display: flex;
  align-items: flex-end;
  padding-top: 116px;
  padding-bottom: 112px;
  min-height: 740px;
  background: url(../img/hero.jpg) top center/cover no-repeat;
  box-sizing: border-box; }
  .about-us__heading {
    max-width: 550px;
    margin: 0; }
  .about-us__text {
    max-width: 750px;
    margin: 30px 0; }

.services {
  padding: 100px 0;
  text-align: center; }
  .services-wrapper {
    margin-top: 140px; }
  .services-item {
    max-width: 260px;
    margin: 0 auto;
    padding: 20px 10px;
    box-shadow: none;
    border-bottom: 7px solid transparent;
    box-sizing: border-box;
    border-radius: 5px;
    transition: box-shadow 250ms, border 250ms; }
    .services-item:hover {
      box-shadow: 0 0 0 1px #9B9BCA;
      border-bottom-color: #9B9BCA; }
      .services-item:hover svg * {
        fill: #9B9BCA; }
    .services-item h3 {
      font-size: 22px;
      font-weight: 500; }
    .services-item p {
      font-size: 16px;
      line-height: 1.3; }

.support {
  padding: 100px 0; }
  .support > .container .col {
    display: flex;
    align-content: center;
    flex-wrap: wrap; }
    .support > .container .col:last-child {
      padding-left: 40px; }

.video__heading {
  color: #402B2B; }

.video__wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0; }

.video__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }
