/*burger-buttom*/

.burger-button {
    z-index: 23;
    width: 30px;
    height: 30px;
    padding: 0 !important;
    border: none;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}
.burger-button.active span {
    background-color: transparent;
}

.burger-button.active span:after {
    transform: rotate(-45deg) translate(6px,-7px);
}
.burger-button.active span:before {
    transform: rotate(45deg) translate(-1px);
}

.burger-button span {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #7c7c7c;
    transition-duration: .1s;
    backface-visibility: hidden;
    top: -10px;
}
.burger-button span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    background-color: #7c7c7c;
    transition: all .3s;
    backface-visibility: hidden;
}

.burger-button span:after, .burger-button span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    background-color: #7c7c7c;
    transition: all .3s;
    backface-visibility: hidden;
}

.burger-button span::after {
    top: 18px;
}

/*burger-buttom*/

/*burger-checkbox*/

.burger-checkbox {
    position: absolute;
    left: -9999px;
    opacity: 0;
}
.menu-decor {
    display: flex;
    align-items: center;
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu-decor > span,
.menu-decor > span::before,
.menu-decor > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #7c7c7c;;
}
.menu-decor > span::before {
    content: '';
    top: -8px;
}
.menu-decor > span::after {
    content: '';
    top: 8px;
}
#is-active:checked ~ .menu-decor > span {
    transform: rotate(45deg);
}
#is-active:checked ~ .menu-decor > span::before {
    top: 0;
    transform: rotate(0);
}
#is-active:checked ~ .menu-decor > span::after {
    top: 0;
    transform: rotate(90deg);
}
#is-active:checked ~ .test {
    background-color: red;
}

/*label::before {*/
/*    position: absolute;*/
/*    top: -10px;*/
/*    content: '';*/
/*    width: 100%;*/
/*    height: 2px;*/
/*    background-color: red;*/
/*}*/
/*label::after {*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    content: '';*/
/*    width: 100%;*/
/*    height: 2px;*/
/*    background-color: #7c7c7c;*/
/*}*/
/*label {*/
/*    display: block;*/
/*    position: relative;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    cursor: pointer;*/
/*    background-color: green;*/
/*}*/
.test {
    background-color: #1d8348;
    /*position: absolute;*/
    /*top: 100px;*/
    width: 100px;
    height: 100px;
}

/*#is-active:checked ~ .test{*/
/*    background-color: red;*/
/*}*/
/*burger-checkbox*/