*, *::after, *::before {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 320px 1fr;
    grid-template-areas:
        'sidebar header'
        'sidebar content'
        ;
}
.sidebar {
    grid-area: sidebar;
    padding: 18px 32px;
    background: linear-gradient(to bottom, #000000, lightgray);
}
.sidebar__headline {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 24px;
    color: white;
    text-align: center;
}
.header {
    padding: 18px 32px;
    grid-area: header;
    background: orange;
}
.header__headline {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 24px;
    line-height: 24px;
}
.content {
    grid-area: content;
    background: lightgray;
}
.contact-list {
    padding: 12px;
    padding-inline-end: 0;
    margin-block-end: 0;
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 12px;

}
.contact-item {
    display: grid;
    grid-template-rows: repeat(2, 24px);
    grid-template-columns: 48px auto 48px;
    grid-template-areas:
        'img info btn'
        'img desc btn';
    gap: 0 16px;
}
.contact-item__image {
    grid-area: img;
    width: 100%;
    height: 100%;
    border: 1px solid orange;
    border-radius: 50%;
    object-fit: cover;
}
.contact-item__info {
    grid-area: info;
    align-self: end;
    font-size: 16px;
    line-height: 16px;
}
.contact-item__description {
    grid-area: desc;
    font-size: 12px;
    line-height: 14px;
    align-self: start;
}
.contact-item__info,
.contact-item__description {
    margin: 0;
}
.contact-item__btn {
    grid-area: btn;
}