body {
    margin: 0;
    font-family: Arial sans-serif;
    color: rgba(0, 0, 0, .85);
}
.wrapper {
    position: absolute;
    width: 1000px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -500px;
    border: 2px solid black;
    overflow: hidden;
}
.bg {
    position: absolute;
    height: 100%;
}
.target {
    position: absolute;
    width: 250px;
    height: 250px;
}
.target-sm {
    width: 150px;
    height: 150px;
}
.target-lg {
    width: 350px;
    height: 350px;
}
.target img {
    max-width: 100%;
}
.target:hover .tooltip {
    display: block;
}
.tooltip {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    background-color: aqua;
}