img {
    max-width: 100%;
}
.wrapper {
    background: url("../images/space.jpg") no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.planet {
    position: absolute;
    top: 20px;
}
.sun {
    background: url("../images/sun.png") no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    top: 100px;
}
.mercury {
    background: url("../images/merc.png") no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    left: 150px;
}
.venera {
    background: url("../images/venera.png") no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 130px;
    height: 130px;
    left: 250px;
}
.earth {
    background: url("../images/earth.png") no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 220px;
    height: 220px;
    left: 370px;
    z-index: 3;
}
.mars {
    background: url("../images/mars.png") no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 160px;
    height: 160px;
    left: 540px;
    top: 90px;
    z-index: 3;
}
.upiter {
    background: url("../images/upiter.png") no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    top: 180px;
    left: 600px;
    z-index: 2;
}
.saturn {
    background: url("../images/suturn.jpg") no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
    left: 820px;
    top: 260px;
}
.description {
    width: 100%;
    font-family: Arial sans-serif;
    font-size: 15px;
    color: red;
    background-color: white;
    display: none;
    position: absolute;
    top: 100%
}
.planet:hover .description{
    display: block;
    z-index: 11;
}