@font-face {
    font-family: Yellowtail;
    src: url('../fonts/11887.ttf');
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald Regular'), local('Oswald-Regular'), url('../fonts/oswald/Oswaldregular.woff2') format('woff2'), url('../fonts/oswald/Oswaldregular.woff') format('woff'), url('../fonts/oswald/Oswaldregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
}
.sidebar {
    width: 350px;
    padding: 40px 28px 85px 28px;
    background-color: black;
    opacity: 80%;
    color: white;
}
.title {
    font-family: Yellowtail;
    font-size: 43px;
    line-height: 57px;
    color: orange;
}
.tagline {
    font-size: 12px;
    margin-bottom: 43px;
}
.sidebar li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: Oswald;
}
.sidebar li > a:hover {
    color: orange;
}
.copyright {
    margin-top: 375px;
    font-size: 12px;
}
.main {
    background-color: #202020;
    background-image:
            linear-gradient(#252525 1px, transparent 1px),
            linear-gradient(90deg, #252525 1px, transparent 1px);
    background-size:
            3px 3px,
            3px 3px;
}
.photos {
    /*margin-top: 45px;*/
    margin: 45px 37px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 35px 35px;
}
.photos-item {
    position: relative;
    font-size: 0;
}
.photos-item:hover .square {
    display: block;
}
.photos img {
    width: 190px;
    height: 190px;
}
.square {
    width: 47px;
    height: 47px;
    background-color: orange;
    background-image: url("../images/full-screen.png");
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
    cursor: pointer;
}