$body-color: #000;
$navbar-bg-color: #4caf50;
$navbar-ul-li-a-color: #673ab7;
$navbar-ul-li-a-bg-color: #e91e63;
$contacts-color: #fff;
$contacts-bg-color: #1d1f20;
$li-active-hover-color: #fff;

$font-size: 16px;

body {
  color: $body-color;
  font-size: $font-size;
  line-height: 1;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 15px;
  background-color: $navbar-bg-color;

  & ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  & ul > li {
    margin-right: 10px;
    font-size: 1.125 * $font-size;
    font-weight: 600;
  }

  & ul > li > a {
    display: block;
    color: $navbar-ul-li-a-color;
    font-size: 0.75 * $font-size;
    line-height: 1.4;
  }

  & ul > li .active, ul > li:hover {
    color: $li-active-hover-color;
    background-color: $navbar-ul-li-a-bg-color;
  }

  & ul > li .active > a, ul > li:hover > a {
    color: inherit;
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-item {
    width: 25%;
    text-align: center;

    & img {
        display: block;
        max-width: 100%;
        border-radius: 50%;
    }
  }
}
.contacts {
  color: $contacts-color;
  background-color: $contacts-bg-color;

  & a {
    display: inline-block;
    padding: 5px;
    color: inherit;
    text-decoration: none;
  }
  & a:hover {
    text-decoration: underline;
  }
}