.box {
    width: 50px;
    height: 50px;
}
.box-inner {
    width: 200px;
    height: 200px;
    background-color: #8c50a4;
    transition: all 0.5s;
}
.box:hover .box-inner {
    width: 0;
    height: 0;
    opacity: 0;
    background-color: #1d8348;
}
.button {
    margin-top: 300px;
    padding: 10px 15px;
    border: 1px solid lightcoral;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 500ms, background-color 200ms, box-shadow 200ms;
}
.button:hover {
    /*transform: rotate(180deg);*/
    transform: scale(1.5);
    background-color: lightcoral;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.75);
}
.button:active {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}
.bubble-wrapper {
    margin-top: 500px;
}
.bubble {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(lightblue, purple);
    transform: translate(-50%, -50%);
}
.bubble-small {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(lightblue, #28bbb7);
}
.bubble-small:nth-child(1) {
    background: radial-gradient(#5534a1, purple);
}
.bubble-small:nth-child(2) {
    background: radial-gradient(lightblue, purple);
}
.bubble-small:nth-child(3) {
    background: radial-gradient(#d7cf35, #240e24);
}
.bubble:hover .bubble-small {
    animation: bubbleUp 1.5s;
}
@keyframes bubbleUp {
    0% {
        transform: scale(0) translate(-50%, -50%);
    }
    50% {
        transform: scale(0.5) translate(-150%, -150%);
    }
    100% {
        transform: scale(1) translate(-300%, 50%);
    }
}