@font-face {
    font-family: 'ArialMT';
    src: url('../fonts/subset-ArialMT.eot');
    src: url('../fonts/subset-ArialMT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/subset-ArialMT.woff2') format('woff2'),
    url('../fonts/subset-ArialMT.woff') format('woff'),
    url('../fonts/subset-ArialMT.ttf') format('truetype'),
    url('../fonts/subset-ArialMT.svg#ArialMT') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ArialMTbold';
    src: url('../fonts/subset-Arial-BoldMT.eot');
    src: url('../fonts/subset-Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/subset-Arial-BoldMT.woff2') format('woff2'),
    url('../fonts/subset-Arial-BoldMT.woff') format('woff'),
    url('../fonts/subset-Arial-BoldMT.ttf') format('truetype'),
    url('../fonts/subset-Arial-BoldMT.svg#Arial-BoldMT') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
* {
    box-sizing: border-box;
    line-height: 0.8em;
}
strong {
    font-family: "ArialMTbold", serif;
}
.wrapper {
    font-family: "ArialMT", serif;
    width: 1000px;
    padding: 27px;
    margin: 0 auto;
    border: 1px solid black;
    box-sizing: border-box;
}
.header {
    background-color: #2e2e2e;
    padding: 20px 25px 20px 16px;
    margin-bottom: 37px;
}
.header::after, .main::after, .tabline::after {
    content: ""; /* Генерируем пустой элемент */
    clear: both; /* Отменяем обтекание*/
    display: block; /* Блочный элемент */
}
.photo {
    background-color: rgb(221, 222, 223);
    border-radius: 50%;
    width: 232px;
    height: 232px;
    margin-right: 41px;
    float: left;
    overflow: hidden;
}
.photo img {
    max-width: 100%;
}
.fio, .date {
    margin-top: 41px;
}
.fio {
    float: left;
}
.h1 {
    font-size: 49px;
    margin-bottom: 16px;
}
.position {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.h1, .position {
    color: white;
    font-family: "ArialMTbold", serif;
}
.contacts {
    font-size: 15px;
}
.contacts-line1 {
    color: #92918f;
    margin-bottom: 5px;
}
.contacts-line2 {
    color: #5b5857
}
.contacts-line2-link{
    color: #8f8e8c;
    text-decoration: none;
}
.contacts-line2-link:hover {
    text-decoration: underline;
    color: brown;
}
.date {
    float: right;
    text-align: right;
}
.date-resume {
    color: #e8e8e8;
    font-size: 17px;
    margin-bottom: 12px;
}
.date-week-day {
    color: #c5c4c4;
    font-size: 12px;
    padding-right: 5px;
}
/*--- main ---*/
.leftpart {
    width: 475px;
    padding-left: 16px;
    float: left;
}
.block {
    margin-bottom: 31px;
}
.block-title {
    text-transform: uppercase;
    background-color: #2e2e2e;
    color: #fbfbfb;
    text-align: center;
    width: 347px;
    padding: 12px 0;
    font-size: 23px;
    font-family: "ArialMTbold", serif;
}
.block-content {
    padding-top: 45px;
}
.schooldata {
    margin-bottom: 38px;
}
.schooldata-title {
    margin-bottom: 14px;
}
.schooldata-title strong{
    text-transform: uppercase;
}
.schooldata-position {
    font-size: 17px;
    margin-bottom: 17px;
}
.schooldata-description {
    font-size: 13px;
    line-height: 21px;
}
.schooldata-referencve-p {
    padding-top: 8px;
    font-size: 13px;
    line-height: 21px;
}
.rightpart {
    float: right;
    width: 347px;
}
.aboutme-p {
    font-size: 13px;
    line-height: 21px;
}
.aboutme .block-content .aboutme-p:first-child {
    padding-bottom: 38px;
}

.skills .tabline:last-child {
    margin-bottom: 0;
}
.tabline {
    margin-bottom: 26px;
}
.tabline-name {
    float: left;
    font-size: 15px;
    font-family: ArialMTbold serif;
    text-transform: uppercase;
}
.tabline-wrapper {
    width: 162px;
    height: 8px;
    border: 1px solid #2e2e2e;
    position: relative;
    float: right;
}
.tabline-value {
    position: absolute;
    height: 8px;
    background: #2e2e2e;
}
.w10 {
    width: 10%;
}
.w20 {
    width: 20%;
}
.w30 {
    width: 30%;
}
.w40 {
    width: 40%;
}
.w50 {
    width: 50%;
}
.w60 {
    width: 60%;
}
.w70 {
    width: 70%;
}
.w80 {
    width: 80%;
}
.w90 {
    width: 90%;
}