@font-face {
font-family: "ArialBold";
src: url("../fonts/ArialBold.ttf");
    font-style: normal;
    font-weight: normal;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "ArialBold", sans-serif;
    font-size: 20px;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
    /*border: 1px solid red;*/
    background-color: lightgreen;
    text-align: center;
}
.menu {
    color: white;
    text-transform: uppercase;
}
.menu a {
    padding: 20px;
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.menu > li {
    position: relative;
    display: inline-block;
    /*padding: 20px 20px;*/
    background-color: #1d8348;
    margin-right: -6px;
}
.sub-menu > li {
    /*margin-top: 20px;*/
    text-align: left;
}
.sub-menu > li a {
    font-weight: normal;
}
.menu > li a:hover, .menu > li:hover {
    background-color: #9a58b5;
}
.sub-menu {
    position: absolute;
    display: none;
    text-transform: none;
    color: white;
    top: 100%;
    left: 0;
    width: 250px;
    /*padding: 0 0 20px 20px;*/
}
.menu > li:hover .sub-menu {
    display: block;
    background-color: #9a58b5;
}
.sub-menu > li a:hover {
    background-color: #8c50a4;
}

/*Button with tooltip*/
.box {
    position: relative;
    top: 200px;
}
.btn::after {
    content: attr(data-title);
    position: absolute;
    background-color: #5b5857;
    border-radius: 3px;
    text-transform: none;
    font-size: 12px;
    color: white;
    padding: 20px;
    left: -260px;
    top: 15px;
    opacity: 0;
    transition: 0.5s;
}
.btn {
    position: relative;
    padding: 30px;
    background-color: lightblue;
    border-radius: 3px;
    border-color: transparent;
    box-shadow: 0 0 10px #5b5857;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
}
.btn:hover::after {
    opacity: 1;
    left: -270px;
}

/*Radio-button*/
.box2 {
    margin: 0 auto;
    width: 400px;
    margin-top: 300px;
    text-align: left;
    background-color: white;
    padding: 50px;
}
.box2 input {
    position: absolute;
    left: -9999px;
    opacity: 0;
}
.radio1 label {
    position: relative;
    padding-left: 50px;
    margin: 20px 0;
    display: block;
    line-height: 28px;
}
.radio1 label::before {
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../images/radio0.png") no-repeat top left;
}
.radio1 input[type=radio]:active + label:before {
    background: url("../images/active.png") no-repeat top left;
    width: 62px;
    height: 62px;
    left: -17px;
    top: -17px;
}
.radio1 input[type=radio]:checked + label:before {
    left: 0;
    top: 0;
    width: 28px;
    height: 28px;
}
#first-option:checked + label:before {
    background: url("../images/radio1.png") no-repeat top left;
}
#second-option:checked + label:before {
    background: url("../images/radio2.png") no-repeat top left;
}
#third-option:checked + label:before {
    background: url("../images/radio3.png") no-repeat top left;
}