.wrap {
    margin: 0 auto;
    position: relative;
    border: 1px solid black;
    width: 1000px;
    height: 500px;
    overflow: hidden;
}

.mountains {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    background-color: blue;
    transform: translate(-50%, 55%) rotate(45deg);
}

.mountains::before {
    content: '';
    position: absolute;
    top: 25%;
    left: -55%;
    width: 300px;
    height: 300px;
    background-color: blue;
}

.mountains::after {
    content: '';
    position: absolute;
    top: -55%;
    left: 25%;
    width: 300px;
    height: 300px;
    background-color: blue;
}

.sun {
    position: absolute;
    top: 30%;
    left: 52%;
    width: 90px;
    height: 90px;
    background-color: yellow;
    border-radius: 50%;
    animation: sunrize 15s infinite;
}

@keyframes sunrize {
    0% {
        top: 100%;
        left: 50%;
        background-color: orangered
    }
    50% {
        top: -100px;
        left: 50%;
        background-color: yellow
    }
    100% {
        top: 100%;
        left: 50%;
        background-color: orangered
    }
}

.cloud {
    position: absolute;
    top: 30%;
    left: 0;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: lightsteelblue;
    animation: cloud-fly 15s infinite;
}

.cloud::before {
    content: '';
    position: absolute;
    top: -40px;
    left: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: lightsteelblue;
}

.cloud::after {
    position: absolute;
    top: -30px;
    right: 15px;
    width: 60px;
    height: 60px;
    content: '';
    border-radius: 50%;
    background-color: lightsteelblue;
}

@keyframes cloud-fly {
    0% {
        top: 10%;
        left: 0%
    }
    100% {
        top: 10%;
        left: 100%
    }
}

.big-cloud {
    position: absolute;
    top: 10%;
    left: -500px;
    width: 250px;
    height: 70px;
    border-radius: 50px;
    background-color: lightsteelblue;
    animation: cloud-big-fly 10s infinite;
}

.big-cloud::before {
    content: '';
    position: absolute;
    top: -80px;
    left: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: lightsteelblue;
}

.big-cloud::after {
    content: '';
    position: absolute;
    top: -50px;
    right: 25px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lightsteelblue;
}

.big-cloud+.big-cloud {
    top: 10%;
    animation-delay: 1s;
}

@keyframes cloud-big-fly {
    0% {
        top: 45%;
        left: -300px
    }
    50% {
        top: 45%;
        left: 50%
    }
    100% {
        top: 45%;
        left: 100%
    }
}