$breakpoints: (
    "phone":   576px,
    "phablet": 768px,
    "tablet":  992px,
    "laptop":  1366px,
);

@mixin mq($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}
