h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 48px;
}
p {
  margin: 12px 0;
}
.sub-title {
  font-size: 26px;
  font-weight: 500;
}
.font-serif {
  font-family: $font-serif;
}
