// Colors
$primary-color: #9B9BCA;
$secondary-color: #E5E5E5;
$warning-color: #F01F35;
$text-color: #626780;
$text-color-dark: #402B2B;

// Font
$text-size: 18px;
$font-serif: 'DM Serif Display', serif;
$font-sans-serif: 'Poppins', sans-serif;

// Timing
$default-transition-duration: 250ms;

// Sizes
$section-padding-y: 100px;