@font-face {
    font-family: Yellowtail;
    src: url('../fonts/11887.ttf');
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald Regular'), local('Oswald-Regular'), url('../fonts/oswald/Oswaldregular.woff2') format('woff2'), url('../fonts/oswald/Oswaldregular.woff') format('woff'), url('../fonts/oswald/Oswaldregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    min-width: 360px;
    display: flex;
}

.sidebar {
    position: relative;
    min-width: 28%;
    background-color: black;
    opacity: 80%;
    color: white;
}
.sidebar-content {
    position: absolute;
    right: 0px;
    top: 20px;
    max-width: 237px;
    padding: 40px 28px 85px 28px;
}
.title {
    font-family: Yellowtail;
    font-size: 43px;
    line-height: 57px;
    color: orange;
}

/*burger-checkbox*/
.burger-checkbox {
    position: absolute;
    left: -9999px;
    opacity: 0;
}
.burger-icon {
    display: none;
    align-items: center;
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.burger-icon > span,
.burger-icon > span::before,
.burger-icon > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #7c7c7c;;
}
.burger-icon > span::before {
    content: '';
    top: -8px;
}
.burger-icon > span::after {
    content: '';
    top: 8px;
}
#is-active:checked ~ .burger-icon > span {
    transform: rotate(45deg);
}
#is-active:checked ~ .burger-icon > span::before {
    top: 0;
    transform: rotate(0);
}
#is-active:checked ~ .burger-icon > span::after {
    top: 0;
    transform: rotate(90deg);
}
/*burger-checkbox*/

.tagline {
    font-size: 12px;
    margin-bottom: 43px;
}
.sidebar li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: Oswald;
}
.sidebar li > a:hover {
    color: orange;
}
.copyright {
    position: absolute;
    bottom: 90px;
    right: 60px;
    font-size: 12px;
}
.main {
    min-width: 75%;
    background-color: #202020;
    background-image:
            linear-gradient(#252525 1px, transparent 1px),
            linear-gradient(90deg, #252525 1px, transparent 1px);
    background-size:
            3px 3px,
            3px 3px;
}
.photos {
    /*margin-top: 45px;*/
    max-width: 963px;
    padding: 45px 56px 124px 34px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 35px 35px;
}
.photos-item {
    position: relative;
    font-size: 0;
}
.photos-item:hover .square {
    display: block;
}
.photos img {
    width: 190px;
    height: 190px;
}
.square {
    width: 47px;
    height: 47px;
    background-color: orange;
    background-image: url("../images/full-screen.png");
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .main {
        padding: 75px 30px;
    }
    .menu, .copyright, .tagline  {
        display: none;
    }
    .title {
        text-align: center;
    }
    .copyright {
        position: static;
        text-align: center;
    }
    .sidebar-content {
        position: static;
        padding: 0;
        max-width: 100%;
    }
    .sidebar {
        position: fixed;
        width: 100%;
        padding: 10px 20px;
        opacity: 100%;
        z-index: 20;
    }
    .photos {
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .burger-icon {
        display: flex;
        position: absolute;
        top: 25px;
        right: 5%;
    }
/*Mobile-menu active*/
#is-active:checked ~ .menu  {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#is-active:checked ~ .menu > li {
     padding-bottom: 12px;
     text-align: center;
 }
/*Mobile-menu active*/

}