body {
    margin: 0;
    font-family: Arial sans-serif;
    color: rgba(0, 0, 0, .85);
}
.menu > li {
    position: relative;
    display: inline-block;
    padding: 20px 10px;
    background-color: beige;
}
.menu > li:hover .sub-menu {
    display: block;
}
.sub-menu {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    background-color: lightblue;
    width: 200px;
}