.header {
    /*grid-row-start: 1;*/
    /*grid-row-end: 2;*/
    /*grid-column-start: 1;*/
    /*grid-column-end: 4;*/
    grid-area: header;
    background: #8c50a4;
}
.left-part {
    grid-area: left-part;
    background: #05e264;
}
.main {
    grid-area: main;
    background: #4271af;
}
.right-part {
    grid-area: right-part;
    background: #d7cf35;
}
.footer {
    /*grid-row-start: 3;*/
    /*grid-row-end: 4;*/
    /*grid-column-start: 1;*/
    /*grid-column-end: 4;*/
    grid-area: footer;
    background: #da4d08;
}
.container {
    height: 100vh;
    display: grid;
    /*grid-template-columns: 20% 60% 20%;*/
    /*grid-template-columns: repeat(10, 1fr);*/
    /*grid-template-columns: repeat(10, minmax(100px, 1fr));*/
    /*grid-template-rows: 25% 50% 25%;*/

    grid-template-areas:
        'header header header'
        'left-part main right-part'
        'footer footer footer';
}