body {
  color: #000;
  font-size: 16px;
  line-height: 1;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 15px;
  background-color: #4caf50;
}
.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.navbar ul > li {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 600;
}
.navbar ul > li > a {
  display: block;
  color: #673ab7;
  font-size: 12px;
  line-height: 1.4;
}
.navbar ul > li .active, .navbar ul > li:hover {
  color: #fff;
  background-color: #e91e63;
}
.navbar ul > li .active > a, .navbar ul > li:hover > a {
  color: inherit;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery-item {
  width: 25%;
  text-align: center;
}
.gallery-item img {
  display: block;
  max-width: 100%;
  border-radius: 50%;
}

.contacts {
  color: #fff;
  background-color: #1d1f20;
}
.contacts a {
  display: inline-block;
  padding: 5px;
  color: inherit;
  text-decoration: none;
}
.contacts a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
