[class^="icon"] {
    width: 84px;
    height: 84px;
    display: inline-block;
    background-image: url("../images/icons.png");
    background-repeat: no-repeat;
}
.icon-facebook {
    background-position: 0 0;
}
.icon-facebook:hover {
    background-position: 0 -84px;
}
.icon-google {
    background-position: -252px 0;
}
.icon-google:hover {
    background-position: -252px -84px;
}
.icon-twitter {
    background-position: -672px 0;
}
.icon-twitter:hover {
    background-position: -672px -84px;
}
.icon-youtube {
    background-position: -840px 0;
}
.icon-youtube:hover {
    background-position: -840px -84px;
}