$button-padding-default: 17px 74px;
$button-padding-small: 12px 54px;

.btn {
    display: inline-block;
    padding: $button-padding-default;
    font-family: $font-sans-serif;
    border: 2px solid transparent;
    border-radius: 10px;
    transition:
        padding $default-transition-duration,
        color $default-transition-duration,
        border-color $default-transition-duration,
        background-color $default-transition-duration;

    &:link {
        text-decoration: none;
    }

    &-small {
        padding: 12px 54px;
    }

    &-primary {
        color: #fff;
        font-weight: 600;
        background-color: $primary-color;

        &:hover {
            color: $primary-color;
            border-color: $primary-color;
            background-color: #fff;
        }
    }
}