body{
    background: black;
    color: white;
    font-size: 14pt
}
h1{
    text-align: center;
    font-size: 20pt
}
h2{ font-size: 18px }
em{
    color: brown;
    font-size: 14pt
}
footer{
    text-align: center;
}

a{ color: chocolate}
a:hover { color: aqua}

table, td {
    border: 1px solid white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.article_img{ height: 300px }
.article_title { text-align: center}
.logo_img { height: 100px }