@font-face {
    font-family: 'Quicksand-bold';
    src: local('Quicksand Bold'), local('Quicksand-Bold'), url('../fonts/quicksandbold.woff2') format('woff2'), url('quicksandbold.woff') format('woff'), url('quicksandbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand-regular';
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url('../fonts/quicksandregular.woff2') format('woff2'), url('quicksandregular.woff') format('woff'), url('quicksandregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
body {
    font-family: Quicksand-regular, sans-serif;
    background-image: url("../images/layer-1.png");
}
.form-login {
    margin: 25vh auto;
    padding: 18px 28px;
    width: 297px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 5px 0;
}
.form-title {
    font-family: Quicksand-bold, sans-serif;
    text-align: center;
    color: #da4e08;
    text-shadow: 0.5px 0.9px 1px rgba(255, 214, 134, 0.75);
    font-size: 18px;
    margin-bottom: 17px;
}
.form-line {
    position: relative;
    border: 1px solid rgba(174, 174, 174, 0.65);
    background: linear-gradient(rgba(232,232,232,1) 0%, rgba(217,217,217,1) 23%, rgba(232,232,232,1) 86%);
}
.user-name .icon {
    background-image: url("../images/shape-14@3x.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 11px;
    height: 11px;
}
.user-pass .icon {
    background-image: url("../images/shape-15@3x.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 13px;
}
.input {
    width: 100%;
    padding-right: 10px;
    padding-left: 30px;
    margin: 7px 0;
    font-size: 16px;
    color: #525252;
    border: none;
    background: transparent;
}
.icon {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}
.user-name {
    border-radius: 5px 5px 0 0;
}
.user-pass {
    border-radius: 0 0 5px 5px;
}
.form-login:first-child .form-line {
    margin-bottom: 4px;
}
.submit {
    width: 100%;
    text-align: center;
    font-family: Quicksand-bold, sans-serif;
    font-size: 14px;
    padding: 8px 105px;
    margin-top: 8px;
    margin-bottom: 13px;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.35), inset 1px 1.7px 0 0 #fbc489;
    border: solid 1px #b13a00;
    background-image: linear-gradient(to top, #f58b19, #da4d08);
}
.line-wrapper {
    position: relative;
    margin-bottom: 25px;
}
.line {
    background-color: black;
    height: 1px;
    margin: 10px 0;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(186,186,186,1) 50%, rgba(255,255,255,1) 100%);
}
.or {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6px 10px 10px 10px;
    background-color: white;
    text-align: center;
    color: #525252;
    font-size: 14px;
}
.button {
    width: 115px;
    padding: 7px 25px;
    margin-bottom: 17px;
    border: solid 1px #2b4a79;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.35), inset 1px 1.7px 0 0 #6198e1;
    color: #f1f1f1;
    font-size: 14px;
}
.fb {
    background-image: linear-gradient(to top, #254166, #4271af);
}
.tw {
    background-image: linear-gradient(to top, #28afe0, #0281b0);
}
.button + .button {
    margin-left: 6px;
}
.forgot-pass-signup a {
    font-size: 14px;
    font-family: Quicksand-regular, sans-serif;
    color: #525252;
    text-decoration: none;
}