body {
    margin: 0;
    font-family: Arial sans-serif;
    color: rgba(0, 0, 0, .85);
}
button {
    font-family: Arial sans-serif;
}
.progress {
    height: 10px;
    width: 200px;
    border: 1px solid orange;
    border-radius: 5px;
    box-shadow: 0 0 1px black;
    overflow: hidden;
}
.progress-fill {
    display: block;
    width: 100%;
    height: 100%;
    background-color: coral;
}
.mt5 {
    margin-bottom: 10px;
}
.btn {
    padding: 10px;
    font-size: 18px;
    border: 1px solid lightgreen;
    border-color: transparent;
    cursor: pointer;
}
.btn + .btn {
    margin-left: 20px;
}
.btn:hover {
    background-color: lightcoral;
}
.form-control {
    margin-bottom: 15px;
}
.form-attachment {
    position: relative;
    overflow: hidden;
}
.form-attachment label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 10px 0 10px 40px;
    min-height: 32px;
    box-sizing: border-box;
}
.form-attachment img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 32px;
}
.form-attachment input {
    position: absolute;
    left: -9999px;
    opacity: 0;
}
.form-checkbox {
    position: relative;
}
.form-checkbox label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 10px 0 10px 50px;
    min-height: 32px;
    box-sizing: border-box;
}
.form-checkbox input {
    position: absolute;
    left: -9999px;
    opacity: 0;
}
.form-checkbox label::before {
    display: none;
    position: absolute;
    top: -5px;
    left: 0;
    content: '';
    width: 50px;
    height: 50px;
    background-image: url("../img/iron-man.png");
    background-size: 50px auto;
    background-repeat: no-repeat;
}
.form-checkbox input:checked + label:before {
    display: block;
}

.field {
    margin-left: 50px;
    margin-bottom: 15px;
}
.field input {
    position: absolute;
    left: -99999px;
    opacity: 0;
}
.field label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}
.field label::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border: 2px solid orange;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    transition: all 250ms;
    transform: translateY(-50%);
}
.field label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 3px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    transition: all 250ms;
    transform: translateY(-50%);
}
.field input:checked + label::after {
    animation: fadeInPluse 0.5s linear forwards;
    background-color: #2b4a79;
}
@keyframes  fadeInPluse{
    0% {
        opacity: 0;
        transform: scale(2);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(-50%);
    }
}