img{
    max-width: 100%;
}
.wrapper {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    /*border: 2px solid red;*/
    position: relative;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin: -300px 0 0 -500px;*/
    overflow: hidden;
}
.bg {
    position: absolute;
    width: 100%;
}
.planet {
    position: absolute;
    top: 20px;
}
.sun {
    width: 250px;
    top: 100px;
    z-index: 10;
}
.mercury {
    width: 100px;
    left: 150px;
    z-index: 12;
}
.venera {
    width: 130px;
    left: 250px;
}
.earth {
    width: 220px;
    left: 370px;
    z-index: 3;
}
.mars {
    width: 160px;
    left: 540px;
    top: 90px;
    z-index: 3;
}
.upiter {
    width: 250px;
    top: 180px;
    left: 600px;
    z-index: 2;
}
.saturn {
    width: 150px;
    left: 820px;
    top: 280px;
}
.description {
    width: 100%;
    font-family: Arial sans-serif;
    font-size: 15px;
    color: red;
    background-color: white;
    display: none;
}
.planet:hover .description{
    display: block;
    z-index: 11;
}