@import "utils/index";
:root {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
*:hover {
  transition: 1s;
}

body {
  min-width: 360px;
  margin: 0;
  padding: 0;
  font-family: $font-sans-serif;
  font-size: 16px;
  color: $primary-color;
}
@import "sections/index";

