.section-about {
  background-color: #e7f1f8;
  color: $secondary-color;
  .col {
      .img-wrapper {
        margin-bottom: 41px;
        background-color: #878787;
        border-radius: 50%;
      }
      .grid-title {
        margin-bottom: 15px;
      }
      .position {
        color: $position-color;
        font-size: $position-text-size;
        margin-bottom: 26px;
      }
      .grid-description {
        margin-bottom: 31px;
      }
  }
  .socials {
    display: flex;
    justify-content: center;
    a {
      margin: 0 6px;
    }
    .icon {
      width: 32px;
      height: 32px;
      fill: $social-icon-color;
      &:hover {
        fill: #3c4761;
        cursor: pointer;
        transition: 2s;
      }
    }
  }
}



@media screen and (max-width: 990px) {

}

@media screen and (max-width: 768px) {

}