.section-comments {
  background-color: #d74680;
  .section-header {
    margin-bottom: 71px;
  }
  .comment {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-item {
      display: flex;
      margin-bottom: 147px;
      .img-wrapper {
        background-color: #878787;
        width: 96px;
        height: 96px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 48px;
        .comment-photo {
          height: 96px;
        }
      }

      &:nth-last-child(2), &:last-child {
        margin-bottom: 0px;
      }
    }
    &-info {
      max-width: 326px;
      &-text {
        font-size: $comment-text-size;
        font-style: italic;
        line-height: 1.44;
        margin-bottom: 28px;
      }
      &-fio {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 9px;
      }
      &-position {
        color: #ffdd99;
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .section-comments {
    .comment {
      &-item {
        width: 100%;
        justify-content: center;
        &:nth-last-child(2) {
          margin-bottom: 147px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section-comments {
    .comment {
     justify-content: center;
      &-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
        &:nth-last-child(2) {
          margin-bottom: 80px;
        }
        .img-wrapper {
          margin: 0 auto;
          margin-bottom: 30px;
        }
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}
