.section-contacts {
  background-color: #3c5499;
  .section-header {
    margin-bottom: 76px;
    text-align: center;
    &-text {
      .link {
        color: #ffffff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .form-line {
    margin-bottom: 27px;
    &:last-child{
      margin-bottom: 0;
    }
    &:nth-child(2) {
      margin-bottom: 59px;
    }
    .textarea-wrapper {
      position: relative;
      width: 100%;
      height: 200px;
      .label {
        top: 25px;
      }
    }
    .input-wrapper {
      position: relative;
      min-width: calc(50% - 16px);
    }
    .label {
      font-size: 18px;
      line-height: 18px;
      position: absolute;
      top: calc(50% - 9px);
      cursor: pointer;
      left: 25px;
      color: $primary-color;
      .span {
        color: red;
      }
    }
  }
  .form-input {
    display: flex;
    justify-content: space-between;

    .input {
      width: 100%;
      min-height: 56px;
      border: none;
      border-radius: 4px;
      background-color: #273a71;
      color: $primary-color;
      font-size: 18px;
      font-family: $font-sans-serif;
      padding: 0 25px;
    }
    .input:focus + .label, .textarea:focus + .label {
      display: none;
    }
    .input:hover + .label, .textarea:hover + .label {
      cursor: text;
    }

  }
  .textarea {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 4px;
    background-color: #273a71;
    padding: 25px;
    color: $primary-color;
    font-size: 18px;
    font-family: $font-sans-serif;
    resize: none;
  }
  .contact-btn-wrapper {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .section-contacts {
    .form-input {
      flex-direction: column;
      .input {
        max-width: 100%;
        &:first-child {
          margin-bottom: 27px;
        }
      }
    }
    .form-line {
      .label {
        top: calc(50% - 25px);
      }
    }
  }
}