.footer {
  background-color: #344b8e;
  .container {
    padding: 0 30px;
  }
  .footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 49px 20px 41px;
    a {
      font-size: 23px;
      margin: 10px;
      display: block;
      color: $primary-color;
      text-decoration: none;
    }
    a:hover {
      color: #30bae7;
    }
  }
}
@media screen and (max-width: 768px) {
  .footer {
    .container {
      padding: 49px 30px 41px;
    }
    .footer-menu {
      flex-direction: column;
      padding: 0;
    }
  }
}