.header {
  background-color: #87509c;
  padding-top: 57px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
  .nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &-item {
      margin: 0px 5px;
      a {
        font-family: 'Titillium Web', sans-serif;
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
        color: $primary-color;
        padding: 10px 17px;
        align-items: center;
        display: block;
      }
      a:hover, a:active {
        background-color: #643a79;
        border-radius: 2px;
        transition: 2s;
      }
    }
  }

}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 35px;
    .container {
      flex-direction: column;
      .nav {
        margin-top: 30px;
        &-list {
          justify-content: center;
          align-items: center;
          &-item {
            margin: 10px 5px;
          }
        }
      }
    }
  }
}