.section-home {
  background-color: #87509c;
  .container{
    padding-top: 145px;
    padding-bottom: 145px;
  }
}
.slogan {
  margin-bottom: 55px;

  .h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 43px;
    text-align: center;
    line-height: 1.15;
    letter-spacing: normal;
  }
}
.work-with-us-wrapper {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .section-home {
    .container {
      padding-top: 50px;
      padding-bottom: 70px;
    }
  }
  .slogan {
    .h1 {
      font-size: 30px;
    }
  }
}