.section-portfolio {
  background-color: #ffdd99;
  color: $secondary-color;
  text-align: center;

  .section-header {
    margin-bottom: 42px;
  }
  .filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 62px;
    .active {
      a {
        background-color: #ffffff;
      }
    }
    &-item {
      margin: 10px 5px;

      a {
        text-transform: uppercase;
        font-size: 18px;
        border-radius: 4px;
        padding: 12px 27px;
        background-color: #ecca86;
        text-decoration: none;
        color: black;
        display: block;

        &:hover {
          background-color: #ffffff;
          cursor: pointer;
          transition: 2s;
        }
        &:active {
          background-color: #ffffff;
        }
      }
    }
  }
  .filter-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 19px;

    &-item{
      width: 50%;
      padding: 0 20px;

      &-img {
        margin-bottom: 32px;
        max-width: 100%;
      }

      &-title {
        text-transform: uppercase;
        margin-bottom: 64px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section-portfolio {
    .filter-content {
      margin-bottom: 0;
      &-item{
        width: 100%;
      }
    }
  }
  .btn {
    padding: 25px 35px;
  }
}