.section-header {
  text-align: center;
  font-family: $font-serif;
  max-width: 620px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  &-title {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;

    &:after {
      content: '';
      display: block;
      width: 87px;
      height: 4px;
      opacity: 0.15;
      margin: 21px auto 24px;
      background-color: black;
    }
  }

  &-text {
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: 0.36px;
  }
}

@media screen and (max-width: 768px) {
  .section-header {
    &-title {
      font-size: 35px;
    }
    &-text {
      font-size: 24px;
    }
  }
}