.section-services {
  background-color: #17c2a4;
  .col {
    .img-wrapper {
      height: 124px;
      margin-bottom: 56px;
    }
  }

}
@media screen and (max-width: 990px) {

}
@media screen and (max-width: 768px) {

}