.section-skills {
  background-color: #ffffff;
  color: $secondary-color;
  font-size: 50px;
  .diagram {
    margin-bottom: 32px;
    display: inline-block;
  }
  .p90 .piece.left {
    transform: rotate(-36deg)
  }
  .p75 {
    .piece.left {
      transform: rotate(-90deg)
    }
    .left::before, .right::before {
      background: #d74680;
    }
  }
  .p70 {
    .piece.left {
      transform: rotate(-108deg)
    }
    .left::before, .right::before {
      background: #15c7a8;
    }
  }
  .p85 {
    .piece.left {
      transform: rotate(-54deg)
    }
    .left::before, .right::before {
      background: #eb7d4b;
    }
  }
}

@media screen and (max-width: 768px) {

}


@media screen and (max-width: 768px) {

}