* {
    box-sizing: border-box;
}
body {
    font-family: Arial sans-serif;
    font-size: 16px;
}
.section1 {
    background-image: url("../images/priroda.jpg");
    height: 100vh;
}
.wrapper-section1 {
    margin: 0 auto;
    width: 1000px;
    /*border: 2px solid red;*/
    text-align: center;
}
.menu {
    color: greenyellow;
    text-transform: uppercase;
}
.menu a {
    text-decoration: none;
    display: block;
    padding: 10px;
}
.menu li{
    display: inline-block;

    background-color: #d4d4cc;
    margin-left: -5px;
}
.menu li:hover {
    background-color: #05e264;
}
.h1 {
    font-size: 70px;
    color: #d7cf35;
    margin-top: 10%;
}
.buttons {
    /*position: relative;*/
    margin-top: 5%;
}
.button {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0 4px 0 black;
    text-decoration: none;
}
.button + .button {
    margin-left: 20px;
}
.button:hover {
    color: white;
}
.yes:hover {
    background-color: green;
}
.no:hover {
    background-color: red;
}
.button:active {
    box-shadow: 0 0 7px 0 black;
}
.section2 {
    margin: 0 auto;
    text-align: center;
    height: 100vh;
    /*position: relative;*/
}
.h2 {
    font-size: 30px;
}
.section2-img {
    margin: 30px 0 30px 0;
}
.pointer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: red;
    background-color: white;
    position: fixed;
    left: 90%;
    top: 90%;
}