.btn {
  padding: 25px 75px;
  border-radius: 4px;
  font-size: 17.5px;
  color: white;
  text-transform: uppercase;
  border: none;
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
  &-orange {
	background-color: #eb7d4b;
  }
  &-orange:hover {
    background-color: #17c2a4;
  }
  &-topaz {
	background-color: #17c2a4;
  }
  &-topaz:hover {
    background-color: #eb7d4b;
  }
  &-blue {
	background-color: #30bae7;
  }
  &-blue:hover {
    background-color: #eb7d4b;
  }
  &:active {
    position:relative;
    top:1px;
  }
}