.grid {
  display: flex;
  margin-top: 79px;
  justify-content: space-between;
  flex-wrap: wrap;

  .col {
    text-align: center;
    width: 200px;
    .img-wrapper {
      width: 200px;
      height: 200px;
      overflow: hidden;
      margin: 0 auto;
      text-align: center;

      .grid-img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  &-title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 27px;
  }
  &-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
}

@media screen and (max-width: 990px) {
  .grid {
    &-description {
      font-size: 20px;
    }
    &-title {
      font-size: 22px;
    }
    .col {
      width: 50%;
      margin-bottom: 80px;
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .grid{
    justify-content: center;
    .col {
      width: 100%;
      &:last-child{
        margin-bottom: 0px;
      }
    }
  }

}