.diagram {
  width: 160px;
  height:160px;
  border-radius: 50%;
  background: #dfe8ed;
  position: relative;
  overflow: hidden;
}
.diagram::before {
  content: '';
  display: block;
  position: absolute;
  top:10px;
  left:10px;
  right:10px;
  bottom:10px;
  border-radius: 50%;
  background: #ffffff;
  z-index: 3;
  opacity: 1;
}
.diagram .piece {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  position: absolute;
}
.diagram .piece::before {
  content: '';
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;
}
.diagram .piece.left {
  transform: rotate(50deg);
  z-index: 2;
  border-radius: 50%; /* only FireFox < 75.0v (fix bug)*/
}
.diagram.over_50 .piece.left {
  transform: rotate(180deg);
}
.diagram .piece.right {
  transform: rotate(180deg);
  z-index: 1;
  border-radius: 50%; /* only FireFox < 75.0v (fix bug)*/
}
.diagram.over_50 .piece.right {
  transform: rotate(360deg);
}
.diagram .left::before {
  background: #30bae7;
}
.diagram.over_50 .left::before {
  background: #990;
}
.diagram .right::before {
  background: #30bae7;
}
.diagram .text {
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.diagram .text {
  font-size: 50px;
}