// Colors
$primary-color: #ffffff;
$secondary-color: #3c4761;
$position-color: #30bae7;
$social-icon-color: #bdd1df;


$warning-color: #F01F35;
$text-color: #626780;
$text-color-dark: #402B2B;

// Font
$text-size: 18px;
$position-text-size: 16px;
$comment-text-size: 21px;
$font-serif: 'Titillium Web', serif;
$font-sans-serif: 'Titillium Web', sans-serif;

// Titles
$titles-font-size: 40px;

// Timing
$default-transition-duration: 250ms;

// Sizes
$section-padding-y: 100px;