.btn {
  padding: 25px 75px;
  border-radius: 4px;
  font-size: 17.5px;
  color: white;
  text-transform: uppercase;
  border: none;
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.btn-orange {
  background-color: #eb7d4b;
}
.btn-orange:hover {
  background-color: #17c2a4;
}
.btn-topaz {
  background-color: #17c2a4;
}
.btn-topaz:hover {
  background-color: #eb7d4b;
}
.btn-blue {
  background-color: #30bae7;
}
.btn-blue:hover {
  background-color: #eb7d4b;
}
.btn:active {
  position: relative;
  top: 1px;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 79px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.grid .col {
  text-align: center;
  width: 200px;
}
.grid .col .img-wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
.grid .col .img-wrapper .grid-img {
  max-height: 100%;
  max-width: 100%;
}
.grid-title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 27px;
}
.grid-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

@media screen and (max-width: 990px) {
  .grid-description {
    font-size: 20px;
  }
  .grid-title {
    font-size: 22px;
  }
  .grid .col {
    width: 50%;
    margin-bottom: 80px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .grid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .grid .col {
    width: 100%;
  }
  .grid .col:last-child {
    margin-bottom: 0px;
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px;
}

@media screen and (max-width: 990px) {
  .container {
    padding: 70px 30px;
  }
}
.diagram {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: #dfe8ed;
  position: relative;
  overflow: hidden;
}

.diagram::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  background: #ffffff;
  z-index: 3;
  opacity: 1;
}

.diagram .piece {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  position: absolute;
}

.diagram .piece::before {
  content: '';
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;
}

.diagram .piece.left {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  z-index: 2;
  border-radius: 50%;
  /* only FireFox < 75.0v (fix bug)*/
}

.diagram.over_50 .piece.left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.diagram .piece.right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 1;
  border-radius: 50%;
  /* only FireFox < 75.0v (fix bug)*/
}

.diagram.over_50 .piece.right {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.diagram .left::before {
  background: #30bae7;
}

.diagram.over_50 .left::before {
  background: #990;
}

.diagram .right::before {
  background: #30bae7;
}

.diagram .text {
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.diagram .text {
  font-size: 50px;
}

/*# sourceMappingURL=index.css.map */