.mondrian {
    display: grid;
    width: 100vw;
    height: 100vh;
    /*grid-template-columns: repeat(13, 1fr);*/
    /*grid-template-rows: repeat(7, 1fr);*/
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    background: black;
}
div:nth-child(1) {
    background: white;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
div:nth-child(2) {
    background: white;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 7;
}
div:nth-child(3) {
    background: white;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 7;
    grid-column-end: 12;
}
div:nth-child(4) {
    background: white;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 12;
    grid-column-end: 13;
}
div:nth-child(5) {
    background: yellow;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 13;
    grid-column-end: 14;
}
div:nth-child(6) {
    background: blue;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 7;
}
div:nth-child(7) {
    background: white;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 7;
    grid-column-end: 9;
}
div:nth-child(8) {
    background: blue;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 9;
    grid-column-end: 12;
}
div:nth-child(9) {
    background: black;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}
div:nth-child(10) {
    background: white;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}
div:nth-child(11) {
    background: black;
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 4;
}
div:nth-child(12) {
    background: white;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 6;
}
div:nth-child(13) {
    background: white;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 6;
    grid-column-end: 7;
}
div:nth-child(14) {
    background: yellow;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 7;
    grid-column-end: 9;
}
div:nth-child(15) {
    background: red;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 9;
    grid-column-end: 11;
}
div:nth-child(16) {
    background: red;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 11;
    grid-column-end: 12;
}
div:nth-child(17) {
    background: yellow;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
}
div:nth-child(18) {
    background: red;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 7;
}
div:nth-child(19) {
    background: blue;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 7;
    grid-column-end: 9;
}
div:nth-child(20) {
    background: white;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 9;
    grid-column-end: 11;
}
div:nth-child(21) {
    background: white;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 11;
    grid-column-end: 12;
}
div:nth-child(22) {
    background: black;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 12;
    grid-column-end: 14;
}
div:nth-child(23) {
    background: white;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
}
div:nth-child(24) {
    background: red;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
}
div:nth-child(25) {
    background: yellow;
    grid-row-start: 5;
    grid-row-end: 8;
    grid-column-start: 4;
    grid-column-end: 5;
}
div:nth-child(26) {
    background: white;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 8;
}
div:nth-child(27) {
    background: white;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 8;
    grid-column-end: 10;
}
div:nth-child(28) {
    background: blue;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 10;
    grid-column-end: 11;
}
div:nth-child(29) {
    background: yellow;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 11;
    grid-column-end: 12;
}
div:nth-child(30) {
    background: white;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 12;
    grid-column-end: 14;
}
div:nth-child(31) {
    background: white;
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 4;
}
div:nth-child(32) {
    background: red;
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 5;
    grid-column-end: 7;
}
div:nth-child(33) {
    background: black;
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 7;
    grid-column-end: 10;
}
div:nth-child(34) {
    background: white;
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 10;
    grid-column-end: 14;
}