// Utils
@import 'utils/index';

body {
    margin: 0;
    color: $text-color;
    font-family: $font-sans-serif;
    font-size: $text-size;
    background-color: #fff;
}

// Components
@import 'components/index';
// Sections
@import 'sections/index';
