* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Titillium Web", sans-serif; }

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden; }

#hero {
  max-height: auto;
  height: 100%;
  background-color: #87509c;
  text-align: center; }
  #hero h1 {
    text-align: center;
    color: #f7f3ea;
    font-size: 42px;
    line-height: 50px;
    margin-top: 140px;
    margin-bottom: 60px; }
  #hero .workButton {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    padding: 20px 80px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #eb7d4b;
    border-radius: 5px;
    background-color: #eb7d4b;
    box-shadow: 0 2px #c86a40;
    display: inline-block;
    margin-bottom: 30px; }

.navbar {
  display: flex;
  margin: 60px 20px 20px 40px; }
  .navbar ul {
    margin-left: auto;
    list-style-type: none;
    align-self: center; }
    .navbar ul li {
      float: left; }
      .navbar ul li a {
        text-decoration: none;
        color: #ffffff;
        padding: 5px 20px;
        text-transform: uppercase;
        transition-duration: 1.5s; }
      .navbar ul li a:hover {
        background-color: #643a79;
        border-radius: 3px;
        transition-duration: .4s; }

#about {
  max-height: auto;
  height: 100%;
  background-color: #17c2a4;
  text-align: center;
  padding-bottom: 30px; }
  #about h2 {
    font-size: 40px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 80px;
    padding-bottom: 20px; }
  #about .line {
    margin-bottom: 25px; }
  #about p {
    font-size: 18px;
    color: #ffffff; }
  #about .wrapperServices {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    margin-top: 80px;
    align-items: baseline; }
    #about .wrapperServices h4 {
      font-size: 24px;
      font-weight: 800;
      color: #ffffff;
      margin-top: 60px;
      text-transform: uppercase; }
    #about .wrapperServices p {
      font-size: 16px;
      font-weight: 300;
      width: 190px;
      margin: 30px auto 0 auto; }
    #about .wrapperServices img {
      margin-top: 10px; }

#team {
  max-height: auto;
  height: 100%;
  background-color: #e7f1f8;
  text-align: center; }
  #team h2 {
    font-size: 40px;
    color: #3c4761;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 80px;
    padding-bottom: 20px; }
  #team .line {
    margin-bottom: 25px; }
  #team .description {
    font-size: 18px;
    color: #3c4761; }
  #team .wrapperTeam {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    margin-top: 80px; }
    #team .wrapperTeam h4 {
      font-size: 24px;
      text-transform: uppercase;
      margin-top: 30px; }
    #team .wrapperTeam .work {
      color: #30bae7;
      margin-top: 0; }
    #team .wrapperTeam p {
      font-size: 16px;
      font-weight: 300;
      width: 190px;
      margin: 30px auto 0 auto; }
    #team .wrapperTeam .social {
      display: inline-block;
      margin-top: 30px;
      margin-bottom: 120px; }
      #team .wrapperTeam .social img {
        padding: 0 2px 0 2px; }

#skills {
  max-height: auto;
  height: 100%;
  background-color: #ffffff;
  text-align: center; }
  #skills h2 {
    font-size: 40px;
    color: #3c4761;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 80px;
    padding-bottom: 20px; }
  #skills .line {
    margin-bottom: 25px; }
  #skills p {
    font-size: 18px;
    color: #3c4761; }
  #skills .wrapperSkills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    margin-top: 80px; }
  #skills h4 {
    font-size: 24px;
    margin: 30px 0 125px 0;
    text-transform: uppercase; }

#portfolio {
  max-height: auto;
  height: 100%;
  background-color: #ffdd99;
  text-align: center; }
  #portfolio h2 {
    font-size: 40px;
    color: #807258;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 80px;
    padding-bottom: 20px; }
  #portfolio .line {
    margin-bottom: 25px; }
  #portfolio p {
    font-size: 18px;
    color: #393939; }
  #portfolio .nav {
    margin: 45px 0 60px 0; }
    #portfolio .nav li {
      display: inline-block;
      list-style-type: none; }
    #portfolio .nav a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 18px;
      color: #393939;
      padding: 5px 20px;
      margin: 0 5px 0 5px;
      background-color: #ebc985;
      border-radius: 4px;
      transition-duration: 1.5s; }
    #portfolio .nav a:hover {
      background-color: #ffffff;
      transition-duration: .4s; }
  #portfolio .wrapperPortfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(420px, 1fr)); }
    #portfolio .wrapperPortfolio img {
      margin: 0 10px 20px 10px; }
    #portfolio .wrapperPortfolio h4 {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 60px; }
  #portfolio .portfolioButton {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    padding: 25px 55px;
    background-color: #17c2a4;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 2px #14a58c;
    margin: 60px 0; }

#recomendation {
  max-height: auto;
  height: 100%;
  background-color: #d74680;
  text-align: center;
  padding-bottom: 30px; }
  #recomendation h2 {
    font-size: 40px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 80px;
    padding-bottom: 20px; }
  #recomendation .line {
    margin-bottom: 25px; }
  #recomendation .love {
    font-size: 18px;
    color: #ffffff; }
  #recomendation .wrapperRecomendation {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 70px; }
    #recomendation .wrapperRecomendation img {
      float: left;
      margin-right: 40px; }
    #recomendation .wrapperRecomendation .text {
      text-align: left;
      display: inline-block;
      width: 300px;
      float: left; }
      #recomendation .wrapperRecomendation .text p {
        font-size: 20px;
        font-style: italic;
        color: #fff;
        font-weight: 300; }
      #recomendation .wrapperRecomendation .text .work {
        color: #ffdd99;
        font-style: normal;
        font-size: 18px; }
      #recomendation .wrapperRecomendation .text h4 {
        font-size: 24px;
        color: #fff;
        text-transform: uppercase;
        margin-top: 30px; }

#contact {
  max-height: auto;
  height: 100%;
  background-color: #3c5499;
  text-align: center; }
  #contact h2 {
    font-size: 40px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 80px;
    padding-bottom: 20px; }
  #contact .line {
    margin-bottom: 25px; }
  #contact p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 80px; }
  #contact .inline {
    display: inline-block;
    width: 80%; }
    #contact .inline input {
      padding: 15px 195px 15px 10px;
      border: none;
      border-radius: 2px;
      background-color: #273a71;
      margin: 20px 10px; }
    #contact .inline input::placeholder {
      color: #ffffff;
      font-size: 12px; }
  #contact textarea {
    width: 60%;
    display: block;
    margin: 30px auto;
    border: none;
    background-color: #273a71;
    border-radius: 2px; }
  #contact textarea::placeholder {
    color: #ffffff;
    padding: 10px;
    font-size: 12px;
    font-family: "Titillium Web", sans-serif; }
  #contact .submitButton {
    padding: 25px 80px;
    margin: 30px 0 80px 0;
    border: none;
    border-radius: 5px;
    background-color: #30bae7;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer; }

footer {
  max-height: auto;
  height: 100%;
  background-color: #344b8e;
  text-align: center; }
  footer .socialFooter {
    margin: 45px 0; }
  footer a {
    font-size: 24px;
    margin: 0 25px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600; }
  footer a:hover {
    color: #30bae7; }

@media only screen and (max-width: 568px) {
  .navbar ul li a {
    padding: 2px 10px;
    font-size: 14px; }

  #hero h1 {
    font-size: 32px; }
  #hero .workButton {
    padding: 10px 40px; }

  #portfolio .nav {
    margin: 50px 0 30px 0; }
  #portfolio .wrapperPortfolio {
    display: inline-block; }
    #portfolio .wrapperPortfolio img {
      width: 70%;
      height: 70%;
      float: left; }
    #portfolio .wrapperPortfolio h4 {
      font-size: 16px;
      float: left;
      margin-left: 20%; }
  #portfolio .portfolioButton {
    padding: 10px 25px; }

  #recomendation .wrapperRecomendation {
    display: block; }
    #recomendation .wrapperRecomendation img {
      display: none; }
    #recomendation .wrapperRecomendation .text {
      margin: 20px 0;
      width: 100%; }

  #contact .inline {
    float: left; }
    #contact .inline input {
      padding: 15px 80px 15px 10px; }
  #contact textarea {
    float: left;
    margin-left: 15px;
    width: 80%; }
  #contact .submitButton {
    padding: 10px 40px; } }

/*# sourceMappingURL=styles.css.map */
