* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden; //  grid-template-rows: 600px 750px 900px 650px 1420px 900px 820px 100px;
}

#hero {
  max-height: auto;
  height: 100%;
  background-color: #87509c;
  text-align: center;
  h1 {
    text-align: center;
    color: #f7f3ea;
    font-size: 42px;
    line-height: 50px;
    margin-top: 140px;
    margin-bottom: 60px;
  }
  .workButton {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    padding: 20px 80px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #eb7d4b;
    border-radius: 5px;
    background-color: #eb7d4b;
    box-shadow: 0 2px #c86a40;
    display: inline-block;
    margin-bottom: 30px;
  }
}

.navbar {
  display: flex;
  margin: 60px 20px 20px 40px;
  ul {
    margin-left: auto;
    list-style-type: none;
    align-self: center;
    li {
      float: left;
      a {
        text-decoration: none;
        color: #ffffff;
        padding: 5px 20px;
        text-transform: uppercase;
        transition-duration: 1.5s;
      }
      a:hover {
        background-color: #643a79;
        border-radius: 3px;
        transition-duration: .4s;
      }
    }
  }
}


#about {
  max-height: auto;
  height: 100%;
  background-color: #17c2a4;
  text-align: center;
  padding-bottom: 30px;
  h2 {
    font-size: 40px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 80px;
    padding-bottom: 20px;
  }
  .line {
    margin-bottom: 25px;
  }
  p {
    font-size: 18px;
    color: #ffffff;
  }
  .wrapperServices {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    margin-top: 80px;
    align-items: baseline;
    h4 {
      font-size: 24px;
      font-weight: 800;
      color: #ffffff;
      margin-top: 60px;
      text-transform: uppercase;
    }
    p {
      font-size: 16px;
      font-weight: 300;
      width: 190px;
      margin: 30px auto 0 auto;
    }
    img {
      margin-top: 10px;
    }
  }
}

#team {
  max-height: auto;
  height: 100%;
  background-color: #e7f1f8;
  text-align: center;
  h2 {
    font-size: 40px;
    color: #3c4761;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 80px;
    padding-bottom: 20px;
  }
  .line {
    margin-bottom: 25px;
  }
  .description {
    font-size: 18px;
    color: #3c4761;
  }
  .wrapperTeam {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    margin-top: 80px;
    h4 {
      font-size: 24px;
      text-transform: uppercase;
      margin-top: 30px;
    }
    .work {
      color: #30bae7;
      margin-top: 0;
    }
    p {
      font-size: 16px;
      font-weight: 300;
      width: 190px;
      margin: 30px auto 0 auto;

    }
    .social {
      display: inline-block;
      margin-top: 30px;
      margin-bottom: 120px;
      img {
        padding: 0 2px 0 2px;
      }
    }
  }
}


#skills {
  max-height: auto;
  height: 100%;
  background-color: #ffffff;
  text-align: center;
  h2 {
    font-size: 40px;
    color: #3c4761;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 80px;
    padding-bottom: 20px;
  }
  .line {
    margin-bottom: 25px;
  }
  p {
    font-size: 18px;
    color: #3c4761;
  }
  .wrapperSkills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    margin-top: 80px;
  }
  h4 {
    font-size: 24px;
    margin: 30px 0 125px 0;
    text-transform: uppercase;
  }
}

#portfolio {
  max-height: auto;
  height: 100%;
  background-color: #ffdd99;
  text-align: center;
  h2 {
    font-size: 40px;
    color: #807258;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 80px;
    padding-bottom: 20px;
  }
  .line {
    margin-bottom: 25px;
  }
  p {
    font-size: 18px;
    color: #393939;
  }
  .nav {
    margin: 45px 0 60px 0;
    li {
      display: inline-block;
      list-style-type: none;
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 18px;
      color: #393939;
      padding: 5px 20px;
      margin: 0 5px 0 5px;
      background-color: #ebc985;
      border-radius: 4px;
      transition-duration: 1.5s;
    }
    a:hover {
      background-color: #ffffff;
      transition-duration: .4s;
    }
  }
  .wrapperPortfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(420px, 1fr));
    img {
      margin: 0 10px 20px 10px;
    }
    h4 {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 60px;
    }
  }
  .portfolioButton {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    padding: 25px 55px;
    background-color: #17c2a4;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 2px #14a58c;
    margin: 60px 0;
  }
}

#recomendation {
  max-height: auto;
  height: 100%;
  background-color: #d74680;
  text-align: center;
  padding-bottom: 30px;
  h2 {
    font-size: 40px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 80px;
    padding-bottom: 20px;
  }
  .line {
    margin-bottom: 25px;
  }
  .love {
    font-size: 18px;
    color: #ffffff;
  }
  .wrapperRecomendation {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 70px;
    .box {}
    img {
      float: left;
      margin-right: 40px;
    }
    .text {
      text-align: left;
      display: inline-block;
      width: 300px;
      float: left;
      p {
        font-size: 20px;
        font-style: italic;
        color: #fff;
        font-weight: 300;
      }
      .work {
        color: #ffdd99;
        font-style: normal;
        font-size: 18px;
      }
      h4 {
        font-size: 24px;
        color: #fff;
        text-transform: uppercase;
        margin-top: 30px;
      }
    }
  }
}

#contact {
  max-height: auto;
  height: 100%;
  background-color: #3c5499;
  text-align: center;
  h2 {
    font-size: 40px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 80px;
    padding-bottom: 20px;
  }
  .line {
    margin-bottom: 25px;
  }
  p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 80px;
  }
  .inline {
    display: inline-block;
    width: 80%;
    input {
      padding: 15px 195px 15px 10px;
      border: none;
      border-radius: 2px;
      background-color: #273a71;
      margin: 20px 10px;
    }
    input::placeholder {
      color: #ffffff;
      font-size: 12px;
    }
  }
  textarea {
    width: 60%;
    display: block;
    margin: 30px auto;
    border: none;
    background-color: #273a71;
    border-radius: 2px;
  }
  textarea::placeholder {
    color: #ffffff;
    padding: 10px;
    font-size: 12px;
    font-family: "Titillium Web", sans-serif;

  }
  .submitButton {
    padding: 25px 80px;
    margin: 30px 0 80px 0;
    border: none;
    border-radius: 5px;
    background-color: #30bae7;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
  }
}

footer {
  max-height: auto;
  height: 100%;
  background-color: #344b8e;
  text-align: center;
  .socialFooter {
    margin: 45px 0;
  }
  a {
    font-size: 24px;
    margin: 0 25px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
  }

  a:hover {
    color: #30bae7;
  }
}




@media only screen and (max-width: 568px) {
  .navbar {
    ul {
      li {
        a {
          padding: 2px 10px;
          font-size: 14px;
        }
      }
    }
  }
  #hero {
    h1 {
      font-size: 32px;
    }
    .workButton {
      padding: 10px 40px;
    }
  }
  #portfolio {

    .nav {
      margin: 50px 0 30px 0;
    }
    .wrapperPortfolio {

      display: inline-block;
      img {
        width: 70%;
        height: 70%;
        float: left;

      }
      h4 {
        font-size: 16px;
        float: left;
        margin-left: 20%;
      }
    }
    .portfolioButton {
      padding: 10px 25px;
    }
  }
  #recomendation {
    .wrapperRecomendation {
      display: block;
      img {
        display: none;
      }
      .text {
        margin: 20px 0;
        width: 100%;
      }
    }
  }
  #contact {
    .inline {
      float: left;
      input {
        padding: 15px 80px 15px 10px;
      }
    }
    textarea {
      float: left;
      margin-left: 15px;
      width: 80%;
    }
    .submitButton {
      padding: 10px 40px;
    }
  }
}
